{% extends "main/Layouts/layout.html" %}
{% block title %}

{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
<div class="container" style="float: left; width: 78%;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><br>
    <span>{{titleTarget}}</span> <span class="text-muted">{{publishDateTarget}}</span>
    <br><br>
    <a href="{% url 'channle' id=channelId %}" style="text-decoration:none;">
        <img src='{{channelInfo_thumb}}' style="width:48px; height:48px; border-radius:50%"><span > &nbsp; &nbsp; {{channelInfo_name}}</span>

    </a>
    <hr>
    <p>{{descriptionTarget}}</p>
</div>
<div class="container" style="float: right; width: 22%; ">
    <h2>Recommended Videos</h2>
    {% for vid in videos %}
    <div class="vidblock row">
        <a href="{% url 'watch' id=vid.0 %}"> <img src='{{vid.2}}' > </a>
        <span>{{vid.1}}</span>
    </div>
    {%endfor%}
</div>
{% endblock %}

